$color-menu-slide: #fffff0;
$dur-menu-slide:.3s;
$width-view-md:768px;

.menu-overlay{
    background-color:gray;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    display:none;
    transition: height 0s, opacity $dur-menu-slide;
 }

 @media (max-width: $width-view-md) {
  /*--a11y--*/
  .ins-navbar-toggler{
      &:hover,&:focus{
          background-color:rgba(255,255,255,.5);
      }    
  }

  .ins-main-menu{ 
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition-duration: 0s;

    .menu-warpper{
        position:absolute;
        display:block;
        width:70%;
        max-width:15rem;
        height:100%;
        overflow-y: scroll;
        scrollbar-width: none;
        -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
        -moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
        box-shadow: 5px 0 5px
        rgba(0,0,0,.15);        
        background-color:$color-menu-slide;
        transition:left $dur-menu-slide;
    }
    &.collapse{
        .menu-warpper{
            display:none;
            transition: $dur-menu-slide;
        }
        .menu-overlay{
            opacity:0;
            display:block;
         }
    }
    &.collapsing{
        .menu-warpper{
            display:block;
            left:-70vw;
            transition:left $dur-menu-slide;
        }
        .menu-overlay{
            opacity:0;
            display:block;
         }
    }
    &.collapse.show{
        .menu-warpper{
            display:block;
            left:0;
            transition:left $dur-menu-slide;
        }
       .menu-overlay{
          opacity:.3;
          display:block;
          transition: opacity $dur-menu-slide;
       }
    }
    .menu-title{
        background-color:#5e7163;
        color:white;
        height:3rem;
        font-size:1.5rem;
        font-weight:400;
        line-height:3rem;
        i.fas{
            margin-left:.6rem;
            margin-right:.6rem;
        }

        button.close{
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            background:white;
            svg{
                width:1rem;
            }
        }
    }
    .ins-nav {
        list-style:none;
        .ins-nav-link {
            color:black;
            margin-left:0;
            //&::before{
                //padding-left:1rem;
                //padding-right:1rem;
                //content:"》";
            //}
            /*--use fa fa icon--*/
            i.fas{padding-left:1rem;padding-right:1rem;}
        }
        //.nav-item:hover{
        .nav-item{
            //background-color: #f58634;
            //transition-duration: 0;
            .ins-nav-link:hover,.ins-nav-link:focus{
                display:block;
                margin-right:0;
                background-color:#f58634;
                color:white;
                text-decoration: none;
                transition-duration: 0;
            }
        }
    }
  }
}
