$color-menu-slide: #fffff0;

.menu-overlay{
    background:#808080;
    width: 100%;
    width:100vh;
    height:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    transition:.3s;
}
@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color:green;
    overflow: auto;
    
    ul.ins-nav{
        background: $color-menu-slide;
        width:10rem;
        width:70vw;
        max-width:90%;
        height:100%;
        z-index:9999;
        position: fixed;  
        top: 0;
        box-shadow: 5px 0 5px rgba(0,0,0,.15);
        overflow-y: scroll;
        scrollbar-width: none;    
        a{
            color:black !important;
            &:hover{
                color:gray !important;
            }
        }


    }

    &.collapsing {
        padding:0;
        .menu-overlay{
            display: block;
            opacity: .5;
          }
        ul.ins-nav{
            left:-10rem;
            left:-70vw;
            transition-duration: 0.35s;
        }          
    }
    &.collapse.show {
        padding:0;
        .menu-overlay{
            display: block;
            opacity: .5;
            overflow-y: scroll;
            transition: opacity .2s; 
          }
        ul.ins-nav{
            left:0px;
            transition: .2s; 
        }          
    }
  }
}